<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — handpainter's guild</title>
<body>
  <header>
    <h1>The Handpainter's Guild</h1>
    <h3>Hub for Inspiration, Learning, and Networking</h3>

    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
        {% for href, title in [
          ['/articles', 'Articles'],['/workshop', '#The-Workshop'],['/tutorials', 'Tutorials'],['/pinterest', 'Pinterest'],['/facebook', 'Facebook'],['/twitter', 'Twitter'],['/join', 'Join']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; 2017. Handpainter's Guild by Azaraen.
  </footer>
</body>
